* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 100px;
}

.cards {
  background-color: light blue;
}

.no-passwords {
  text-align: center;
}

.charm {
    display: flex;
    max-width: 200px;
    max-height: 500px;
    padding: 40px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

p {
  font-size: medium;
  margin-bottom: 5px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-right: 20px;
    margin-left: 20%;
    margin-right: 20%;
}  

form.ui.form.add {
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 5px;
}

.add {
  padding-top: 10px;
}

.ui-button {
  padding: 10px;
}

h1 {
  font-size: 60px;
}

.about-paragraph {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 50px;
}

.ui.input.login {
  padding-bottom: 15px;
}

form.ui.form.add {
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 20px;
}

form.ui.form.login {
    margin-left: 39%;
    margin-right: 39%;
    padding-bottom: 20px;
}

form.ui.form.signup {
    margin-left: 39%;
    margin-right: 39%;
    padding-bottom: 20px;
}

ui.form input {
  padding-top: 5px;
  padding-bottom: 5px;
}

div {
  margin: none;
}

h3.key {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

h3.charm {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

h3.chain {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

.sub-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-direction: wrap;
    flex-wrap: wrap;
}

.ui.form.searchbar {
  margin-left: 40%;
  margin-right: 40%;
}

.search {
  padding-top: 10px;
  padding-bottom: 5px;
}

h3.ui.violet.message {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0;
}

